.login_container {
    height: 420px;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
}

.login_container_box2 select {
    width: 85%;
    padding: 5px;
    margin-left: 10px;
    box-sizing: border-box;
    border: #c89f9c 1px solid;
    border-radius: 10px;
    background-color: transparent;
}