.register_container {
    padding: 10px;
    margin: 10px;
    position: absolute;
    width: 40%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;

    h1 {
        text-align: center;
    }

    h3 {
        margin-left: 10px;
    }
}

.register_label_combo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text {
        float: left;
        padding: 5px;
    }
    label {
        padding: 5px;
    }
    input {
        width: 100%;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        box-sizing: border-box;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    select {
        width: 100%;
        height: 25px;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        box-sizing: border-box;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
}

.register_buttons {
    display: flex;
    padding: 5px;
    margin: 5px;
    position: relative;
    justify-content: center;

    button {
        background-color: darkgrey;
        border: none;
        border-radius: 5px;
        margin: 2px;
        padding: 10px 10px;
        color: white;
        text-align: center;
        font-size: 16px;
    }
    button:hover {
        background-color: gray;
    }
}

